{% extends 'base.html' %} {% load static %} {% block bodyContent %}
<br>
<br>
<br>
<br>
<br>
<br>

<div class="container"> 
    <style> 
        .person-image-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            border: 2px solid #64a19d;
            overflow: hidden;
        }
    
        .person-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    
        .default-image {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            background-color: #e1e1e1;
            color: #333;
            font-weight: bold;
        }
    </style> 
    <a href="{% url 'personView' personId=person.id %}">
        <div class="person-image-container">
            {% if person.picture %}
                <img class="person-image" src="{{ person.picture.url }}" alt="image"> 
            {% else %}
                <div class="default-image">No Picture Available</div>
            {% endif %}
        </div>
        <br>
    </a>
</div>


<div>
    <style>
        .table td {
            color: black;
        }

        .table th {
            background-color: #64a19d;
        }

        .table-hover tbody tr:hover td,
        .table-hover tbody tr:hover th {
            color: #64a19d;
        }
    </style>

    <table class="table table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th title="Field #1">Date Missing</th>
                <th title="Field #2">Last Name</th>
                <th title="Field #3">First Name</th>
                <th title="Field #4">Age at Missing</th>
                <th title="Field #5">City</th>
                <th title="Field #6">State</th>
                <th title="Field #7">Gender</th>
                <th title="Field #8">Race</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ person.date_of_disappearance }}</td>
                <td>{{ person.last_name|title }}</td>
                <td>{{ person.first_name|title }}</a></td>
                <td align="left">{{ person.age_at_missing }}</td>
                <td>{{ person.city_of_disappearance|title }}</td>
                <td>{{ person.state_of_disappearance }}</td>
                <td>{{ person.gender }}</td>
                <td>{{ person.race }}</td>
            </tr>
        </tbody>
    </table>
</div>

<a href="{% url 'index' %}">Go Back</a>

{% endblock %}

